
.cardContainer {
  height: 280px;
  width: 170px;
  
  background-color: #141414;
  color:white;
  
  
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);

   img {
     height: 220px;
   }
   
   .cardContent {
    height: 60px;

    display:flex;
    justify-content: center;
    align-items: center;

    p {
     font-size: 1.125rem;
     font-weight: 900;
     text-align: center;
  
   }
  
  }
}
  